<div class="container">
  <div class="row">
    <%= @users.each do |user| %>
      <div class="col-12 col-sm-4">
        <div class="card">
          <p> Nome:
          <%= user.title.capitalize %>
          <%= user.first_name.capitalize %>
          <%= user.last_name.capitalize %> </p>
          <p> Sexo: <%= user.genre %> </p>
          <p> Email: <%= user.email %> </p>
          <img class="card-user" src="<%= user.picture %>">
        </div>
      </div>
    <% end %>
  </div>
</div>


